#####################################################################
# Extruder
#####################################################################

#	E0 on MOTOR6
[extruder]
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
rotation_distance: 22.384
##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
##### Stealthburner gear ratio
gear_ratio: 50:10				#BMG Gear Ratio
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PA2
##	Validate the following thermistor type to make sure it is correct
sensor_type: ATC Semitec 104GT-2
sensor_pin: PF4
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
# A print from PrusaSlicer2.6 exported with a -71mm extrude. Temporarily extend distance
max_extrude_only_distance: 100



#####################################################################
# Old Extruder values
#####################################################################
##### Afterburner gear ratio
#gear_ratio: 50:17				#BMG Gear Ratio
## Pressure advance settings need to be recalibrated
##	Try to keep pressure_advance below 1.0
## The pressure advance value is dependent on the extruder, the nozzle,
## and the filament. It is common for filament from different manufactures
## or with different pigments to require significantly different pressure advance values.
#pressure_advance: 0.0725
##	Default is 0.040, leave stock
#pressure_advance_smooth_time: 0.040
##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
#rotation_distance: 22.6789511	#Bondtech 5mm Drive Gears